<!-- FAQs-->
  
<section class="page-section" id="faq">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ faq.title }}</h2>
            <h3 class="section-subheading text-muted">{{ faq.subtitle }}</h3>
        </div>
      

    <div class="accordion" id="faq-accordion">
        {% for i in faq.content_items %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ loop.index }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                    {{ i.question }}
                    </button>
                </h2>
                <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        {{ i.answer }}
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</section>


