<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center mb-3">
            <div class="col-lg-4 text-lg-start">Copyright &copy; {{ page.html_title }} <?php echo date("Y"); ?></div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.vvz_link }}"><img src="/assets/img/footer/eth_logo.png"></a>
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.moodle_link }}"><img src="/assets/img/footer/moodle_logo.png"></a>
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.coss_link }}"><img src="/assets/img/footer/dgess_logo.png"></a>
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.coci_link }}"><img src="/assets/img/CoCi_logo.png"></a>
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.erc_link }}"><img src="/assets/img/footer/erc.png"></a>
                <a class="btn btn-dark btn-social mx-2" href="{{ footer.freifunk_link }}"><img src="/assets/img/footer/freifunk.png"></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="btn btn-dark btn-social mx-2" href="https://creativecommons.org/licenses/by/3.0/us/legalcode"><i class="fab fa-creative-commons"></i></a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#attributions-collapse" aria-expanded="false" aria-controls="attributions-collapse">
                    Attributions
                </button>
                
                
                
            </div>
            <div class="collapse mt-2" id="attributions-collapse">
                <div class="card card-body">
                    <ul class="list-group list-group-flush">
                        {% for el in footer.image_attributions %}
                            <li class="list-group-item"><a href="{{ el.source_url }}">{{ el.name }}</a> from <a href="{{ el.source_domain }}">{{ el. source_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
        </div>
    </div>
    <div class="row align-items-center">
        <p>{{ footer.footer_text_1 }}</p>
        <p>{{ footer.footer_text_2 }}</p>
    </div>
</footer>