<!-- Services-->
<section class="page-section" id="highlights">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ highlights.title }}</h2>
            <h3 class="section-subheading text-muted">{{ highlights.subtitle }}</h3>
        </div>
        <div class="row text-center">
            {% for i in highlights.content_items %}
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-{{ i.fa_icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ i.title }}</h4>
                    <p class="text-muted">{{ i.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
  </section>