<!-- Help resources -->
<section class="page-section bg-light" id="section6">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ section6.title }}</h2>
        </div>

        <div class="text-center mb-4">

            <h4 class="my-3">{{ section6.text.replace("_", section6.signed_up) }}</h4>

            <a class="btn btn-primary btn-xl text-uppercase mx-2" href="{{ footer.vvz_link }}">{{ title.registration_text }}</a>
        </div>

        <div class="text-center">
            <h3 class="section-subheading text-muted">{{ section6.subtitle }}</h3>
        </div>
        <div class="row row-cols-2 row-cols-lg-4 justify-content-center text-center">
            {% for i in section6.content_items %}
                <div class="col justify-content-center">
                    <a href="{{ i.url }}"><span class="fa-stack fa-3x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        {% if i.fa_icon == "github" %}
                            <i class="fab fa-{{ i.fa_icon }} fa-stack-1x fa-inverse"></i>
                        {% else %}
                            <i class="fas fa-{{ i.fa_icon }} fa-stack-1x fa-inverse"></i>
                        {% endif %}
                    </span></a>
                    <h4 class="my-3">{{ i.title }}</h4>
                    <p class="text-muted">{{ i.description }}</p>
                </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">{{ section4.description }}</p></div>
        </div> -->
    </div>
</section>