<!-- About-->
<section class="page-section" id="timeline">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{ timeline.title }}</h2>
            <h3 class="section-subheading text-muted">{{ timeline.subtitle }}</h3>
        </div>

        <ul class="timeline">
            {% for item in timeline.content_items %}
                <li {% if loop.index % 2 == 0 %} class="timeline-inverted" {% endif %}>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/{{ item.image }}" alt="..." /></div>
                    <div class="timeline-panel">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }} - {{ item.subtitle }}</h5>

                                <ul class="list-group list-group-flush">
                                    {% for subitem in item.content_items %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                {{ subitem.name }}
                                            </div>
                                            <span class="badge bg-primary rounded-pill">{{ subitem.start }} to {{ subitem.end }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}

            
            <li>
                <div class="timeline-image">
                    <h4>{{ timeline.timeline_conclusion_text }}</h4>
                </div>
            </li>
        </ul>
    </div>
</section>